* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
  list-style: none;
}

/* header */

header {
  background-color: #F8F9FA;
  padding: 20px 10px;
  font-size: 2rem;
  text-transform: capitalize;
}

/* main */

main {
  .container {
    width: 80%;
    margin: 20px auto;

    .buttons {

      ul {
        display: flex;

        li {
          margin: 10px;

          button {
            padding: 10px;
            text-transform: uppercase;
            background-color: #0B6EFD;
            color: white;
            border: 0px;
            border-radius: 7px;
          }
        }
      }
    }
  }
}